<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:fragment="listOfRecords"></div>
<div>
    <table class="table table-bordered" th:object="${records}" id="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ticket id</th>
            <th scope="col">Action</th>
            <th scope="col">Type</th>
            <th scope="col">Object</th>
            <th scope="col">Name</th>
            <th scope="col">Ref env</th>
            <th scope="col">Environments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record:${records}">
            <td th:text="${record.getRecordId()}"></td>
            <td th:text="${record.getTicketNumber()}"></td>
            <td th:text="${record.getAction()}"></td>
            <td th:text="${record.getObjectType().getType()}"></td>
            <td th:text="${record.getObjectName()}"></td>
            <td th:text="${record.getUserName().getName()}"></td>
            <td th:text="${record.getReferenceEnvironment().getEnvironmentName()}"></td>
            <td th:text="${record.getEnvironments()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>